__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

.venv/
venv/
env/

.ipynb_checkpoints/

.vscode/

*.log
logs/

.cache/
*.cache
*.DS_Store

*.so

data/
datasets/
raw/
processed/

runs/
results/

videos/
*.mp4
*.avi
*.mov

*.pt
*.pth
*.onnx
*.h5
*.ckpt

weights/
models/
yolo_logs/

tmp/
temp/
